<p>このメールはシステムからの自動返信です。</p>
 
<h4><%= @name %> 様</h4>
<p>お世話になっております。</p>

<p>以下の内容でお問い合わせを受付いたしました。</p>

<p>-------------------------------------------</p>
<p><%= @context %> </p>
<p>-------------------------------------------</p>
<p>確認後、ご連絡致しますので今しばらくお待ちくださいませ。</p>

